* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 36, 49);
  color: #ffffcc;
  font-family: "Poppins", sans-serif;
}

.poppins-thin {
  font-weight: 100;
}

.poppins-bold {
  font-weight: 700;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  text-align: center;
  padding: 10px;
}

.about-content {
  font-size: 1rem;
  margin-top: 0;
  display: inline-block;
  align-content: center;
  margin-left: 6rem;
  max-width: 60%;
  line-height: 1.5rem;
}

hr {
  border: 0;
  height: 1.2px;
  background-color: #86861d;
  margin: 40px 84px;
}

.image {
  display: inline;
  margin-top: 12px;
  height: 250px;
  margin-left: 5rem;
}

.footer {
  width: 100%;
  background: #081427;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-content {
      margin-left: 2rem;
      max-width: 80%;
      font-size: 0.9rem;
  }

  hr {
      margin: 20px 40px;
  }

  .image {
      height: 200px;
      margin-left: 8rem;
      /* width: 100%;
      border: 0.5px solid black;
      border-radius: 5px; */
      align-items: center;
  }
  .about-content{
    margin-left: 4rem;
  }

  .footer {
      padding: 15px 30px;
  }

  .social-icon__link {
      font-size: 1.5rem;
  }

  .menu__link {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .me {
      flex-direction: column;
      height: auto;
  }

  .about-content {
      margin-left: 1rem;
      max-width: 100%;
      font-size: 0.85rem;
  }

  hr {
      margin: 10px 20px;
  }

  .image {
    
      margin-left: 5.3rem;
     
  }

  .footer {
      padding: 10px 20px;
  }

  .social-icon__link {
      font-size: 1.2rem;
  }

  .menu__link {
      font-size: 0.9rem;
  }
}
