*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(12,36,49);
    color: #ffffcc;

    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
}
.contact-container {
    margin-left: 2.2rem;
    max-width: 600px;
    margin: 6.25rem 6.25rem 8.75rem 25rem;
    background: rgb(12,36,49);
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 8px;;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffcc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-left: 0.8rem;
    width: 100%;
    padding: 10px;
    background-color: #86861d;
    color: #ffffcc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#response-message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #28a745;
}
.footer {
    position: relative;
    width: 100%;
    background: #081427;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }