* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 36, 49);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color:  #081427;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
  
    list-style: none;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover {
    font-size: 1.04rem;
    color: rgb(44, 168, 235);
}

.left {
    font-size: 1.5rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 1.8rem;
}

/* Media Queries for Hamburger and Responsive Navigation */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #081427;;
        width: 100%;
        position: absolute;
        top: 3rem;
        left: 0;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Other section styles remain the same */
.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 7rem 0;
    flex-wrap: wrap;
}

main hr {
    border: 0;
    height: 1.2px;
    background-color: #86861d;
    margin: 40px 5%;
}

.leftSection {
    color: #ffffcc;
    margin: 5.2rem 2rem;
    font-size: 2.5rem;
}

.rightSection img {
    width: 100%;
    margin: 1.5rem 0;
    max-width: 400px;
}

.dark {
    color: #86861d;
}

#element {
    color: #86861d;
}

.SecondSection {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.SecondSection h1 {
    font-size: 3rem;
    color: #86861d;
}

.SecondSection div {
    font-size: 1.2rem;
    color: #ffffcc;
    line-height: 1.5rem;
}

.footer {
    width: 100%;
    background: #081427;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}
